LDAP-296: Quoted Names Not Parsed Correctly

[Mark Reynolds](https://jira.spring.io/secure/ViewProfile.jspa?name=tailwaggers) (Migrated from [LDAP-296](https://jira.spring.io/browse/LDAP-296?redirect=false)) said:

The DistinguishedName class incorrectly parses DNs that use the quotes around a value to handle special characters. According to the last paragraph in section 4 of RFC 2253:

> Implementations MUST allow a value to be surrounded by quote ('"'
>    ASCII 34) characters, which are not part of the value.  Inside the
>    quoted value, the following characters can occur without any
>    escaping:
> 
> ```
>                ",", "=", "+", "<", ">", "#" and ";"
> ```

The following code:

``` java
String stringDn = "ou=\"Foo + Bar\",cn=some,cn=org";
DistinguishedName dn = new DistinguishedName(stringDn);
System.out.println(stringDn);
System.out.println(dn);
```

Prints out:

```
ou="Foo + Bar",cn=some,cn=org
ou=\"Foo \+ Bar\",cn=some,cn=org
```

The effect is the quotes have been converted from delimiters to part of the value.

I think it would be fine if it normalized the DN to the preferred method of handling special characters -- escaping them.

```
ou=Foo \+ Bar,cn=some,cn=org
```
